<form [formGroup]="catForm" (submit)="onSumbit()">
    <section>
        <mat-form-field hintLabel="Max 128 characters" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput #input maxlength="128" placeholder="Ex. Flagship" formControlName="name">
            <mat-hint align="end">{{input.value.length || 0}}/128</mat-hint>
        </mat-form-field>
    </section>
    <section>
        <button mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </section>
</form>