<form [formGroup]="deviceForm" (submit)="onSumbit()">
    <section>
        <mat-form-field hintLabel="Max 128 characters" appearance="fill">
            <mat-label>Part Number</mat-label>
            <input matInput type="number" placeholder="Ex. 00003" formControlName="partNumber">
        </mat-form-field>
        <mat-form-field hintLabel="Max 16 characters" appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput #input maxlength="16" placeholder="Ex. Flagship" formControlName="color">
            <mat-hint align="end">{{input.value.length || 0}}/16</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let cat of categories" [value]="cat.id">
                    {{cat.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <section>
        <button mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </section>
</form>