<form [formGroup]="deviceForm" (submit)="onSumbit()">
    <section>
        <mat-form-field hintLabel="Max 128 characters" appearance="fill">
            <mat-label>Part Number</mat-label>
            <input matInput type="number" placeholder="Ex. 00003" formControlName="partNumber">
        </mat-form-field>
        <mat-form-field>
            <input matInput [ngxMatColorPicker]="picker" formControlName="color">
            <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
            <ngx-mat-color-picker #picker [touchUi]="true" [color]="'primary'"></ngx-mat-color-picker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let cat of categories" [value]="cat.id">
                    {{cat.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <section>
        <button mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </section>
</form>